/* Base Font Imports */

@font-face {
    font-family: 'Aquire-B';
    src: url('/assets/fonts/Aquire-B.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aquire-L';
    src: url('/assets/fonts/Aquire-L.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aquire';
    src: url('/assets/fonts/Aquire.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Backsteal';
    src: url('/assets/fonts/Backsteal.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ethnocentric';
    src: url('/assets/fonts/Ethnocentric.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glipervelz';
    src: url('/assets/fonts/Glipervelz.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Linebeam';
    src: url('/assets/fonts/Linebeam.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nasalization';
    src: url('/assets/fonts/Nasalization.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Octopus-I';
    src: url('/assets/fonts/Octopus-I.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Octopus';
    src: url('/assets/fonts/Octopus.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pavelt';
    src: url('/assets/fonts/Pavelt.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Plank';
    src: url('/assets/fonts/Plank.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playpretend';
    src: url('/assets/fonts/Playpretend.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Starjedi-H';
    src: url('/assets/fonts/Starjedi-H.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Starjedi';
    src: url('/assets/fonts/Starjedi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.Aquire-B {
    font-family: 'Aquire-B';
}

.Aquire-L {
    font-family: "Aquire-L";
}

.Aquire {
    font-family: "Aquire";
}

.Backsteal {
    font-family: "Backsteal";
}

.Ethnocentric {
    font-family: "Ethnocentric";
}

.Glipervelz {
    font-family: "Glipervelz";
}

.Linebeam {
    font-family: "Linebeam";
}

.Nasalization {
    font-family: "Nasalization";
}

.Octopus-I {
    font-family: "Octopus-I";
}

.Octopus {
    font-family: "Octopus";
}

.Pavelt {
    font-family: "Pavelt";
}

.Plank {
    font-family: "Plank";
}

.Playpretend {
    font-family: "Playpretend";
}

.Starjedi-H {
    font-family: "Starjedi-H";
}

.Starjedi {
    font-family: "Starjedi"
}